.galleryContentDiv{
    width: 100%;
    min-height: 90vh;
    padding: 30px;
}
.galleryProductImage{
    border-radius: 25px;
}
.galleryProductHeading{
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    color: #52B2E5;
}
.dateNlocation{
    color: #A6A6A6;
    font-family: 'Poppins';
    font-style: normal;
}
.galleryProductCard{
    z-index: 1;
    transition: 0.5s;
}
.cardBorder{
    border: 1px solid #002D5D;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.galleryProductCard:hover{
    transform: scale(1.1);
    text-decoration: none;
}
.closeButton{
    text-decoration: none;
    border: 0px;
    background: none;
    font-size: 25px;
}

/* media queries of productCard */